<!DOCTYPE html>
<html>
	<%- include('./partials/_head');%>
	<body>
	  <%- include('./partials/_header'); %>
	  <%- include('./partials/_bootstrapJS'); %>
    <h1>Discord Bot DB Viewer</h1>
	
  </body>
</html>
