<%- include('./partials/head');%>
<%- include('./partials/header'); %>
<!--Intro Content Row-->
<div class="row" id="content-row">
    <!--Statement Div-->
    <div class="col-sm-12 col-lg-5" id="statement-div">
        <div class="row">
            <div class="col-1 offset-1 quote-block"></div>
            <div class="col-9">
            
                &nbsp;&nbsp;&nbsp;&nbsp;A Full Stack Developer and aspiring Game Designer with experience in Project Management, and Team Oriented Environments.
                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;An avid coffee drinker, with a passion for games, DIY, and other tech projects

            </div>
        </div>
        
    </div>
    <!--Headshot Div-->
    <div class="col-sm-12 col-lg-5 offset-lg-1">
        <div class="img-portrait">
			<img class='img-fluid' src="../images/Portrait.jpg" alt="">
        </div>
    </div>
    <!--Cover Story Div-->
    <div class="col-md-12 col-lg-12">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo enim dolorum eos rerum
            consectetur, maiores qui molestiae quasi unde quaerat ipsa! Suscipit ex qui magnam, fuga
            incidunt mollitia. Nulla, sit sed. Voluptatum quibusdam sit natus aliquam. Aut soluta
            pariatur, quis dolorem voluptates, commodi dolore ad neque iure repudiandae magni distinctio
            nulla aspernatur. Similique ipsam delectus et necessitatibus id suscipit maxime ipsum
            molestiae magni veniam deserunt culpa sed ad dicta itaque debitis veritatis quia quod, sint
            tempora dolorum temporibus quae modi unde. Beatae ut hic officia doloribus modi eaque odio
            delectus rem similique labore sint ea nesciunt omnis incidunt, dolorem tenetur laboriosam?
            Placeat, iusto labore dignissimos at soluta provident voluptatibus! At, natus, nisi vitae
            consequuntur odio nulla dicta doloribus voluptatum culpa error sed consequatur maxime ut
            ullam, distinctio architecto maiores quasi? Nesciunt, magnam!
        </p>
    </div>
</div>
<hr><hr>
    <br>
<hr><hr>